<h1 mat-dialog-title>Crear persona</h1>
<mat-dialog-content>
  <form [formGroup]="formGroup" (ngSubmit)="createPerson()" class="formContainer" id="formPerson">

    <mat-form-field appearance="outline">
      <mat-label>Nombre:</mat-label>
      <input matInput formControlName="name"/>
      <mat-error *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched">
        <!-- Validación de campo requerido -->
        <span *ngIf="formGroup.get('name')?.hasError('required')">El nombre es requerido.</span>
        <!-- Validación de longitud mínima -->
        <span *ngIf="formGroup.get('name')?.hasError('minlength')">
          El nombre debe tener al menos 5 caracteres.
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Edad:</mat-label>
      <input matInput formControlName="age"/>
      <mat-error *ngIf="formGroup.get('age')?.invalid && formGroup.get('age')?.touched">
        <!-- Validación de campo requerido -->
        <span *ngIf="formGroup.get('age')?.hasError('required')">La edad es requerida.</span>
        <!-- Validación de longitud mínima -->
        <span *ngIf="formGroup.get('age')?.hasError('min')">
          Debe ser mayor de 18 años
        </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field formArrayName="skills">
      <mat-chip-grid #chipGrid aria-label="Habilidades">
        <mat-chip-row *ngFor="let skill of skillsArray.controls; let i = index" (removed)="remove(i)">
          {{skill.value.skill}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input placeholder="Agregar habilidad"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-grid>

    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button type="submit" [disabled]="!formGroup.valid" form="formPerson">Crear</button>
  <button mat-button mat-dialog-close >Cancelar</button>
</mat-dialog-actions>
