.example-viewport{
  height: 35em;
  margin-top: 3%;

}
.itemPerson{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .infoPerson{
    display: flex;
    flex-direction: column;
  }
  .action{
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
  }
}

.itemPerson + .itemPerson{
  margin-top: 3%;
}

.toolContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
